static/stylesheets/styles.css
static/stylesheets/styles.css.map
static/stylesheets/main.css
static/stylesheets/main.min.css
static/javascripts/main.js
static/javascripts/main.min.js
**/__pycache__/
**/.sass-cache/
