{% load staticfiles %}
{% load front_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tiphereth Trading | Buy Local, Sustainable Preserves, Compost and Firewood</title>

    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	{% front_edit_scripts editor="epiceditor" %}
	
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
				{% block content %}
				{% endblock %}
                <a class="navbar-brand page-scroll" href="#page-top">
                    Tiphereth Trading
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">In a Jar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Compost</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Logs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download2">Our Stories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact2">Charity</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact2">Where to Buy</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Tiphereth</h1>
                        <h1><smaller>Social Enterprise</smaller></h1>
						{% front_edit "placeholder_name" request.path request.LANGUAGE_CODE %}
							<p class="intro-text">Buy Local, Organic &amp; Sustainable Preserves, Compost &amp; Firewood produced by people with additional support needs in Edinburgh</p>
						{% end_front_edit  %}
                        <a href="#about" class="btn btn-circle page-scroll pulse">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What we do</h2>
            </div>
        </div>    
        <div class="row">
            <div class="about col-xs-4" id="preserves">
                    <div class="info">
                        <h4>Preserves</h4>
                    </div>    
            </div>  
            <div class="col-xs-4 about" id="logs">
                <div class="info">
                    <h4>Logs</h4>
                </div>    
            </div>
            <div class="col-xs-4 about" id="compost">
                <div class="info">
                    <h4>Compost</h4>
                </div>    
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!--h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul-->
            </div>
        </div>
    </section>

    <!-- Download SASS Section -->
    <section id="download2" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
					{% front_edit "Download" request.path request.LANGUAGE_CODE %}
						<p>Y ou can download the SASS version of Grayscale for free on the GITHUB page.</p>
					{% end_front_edit  %}
                    <a href="https://github.com/blackfyre/grayscale-sass/" class="btn btn-default btn-lg">Visit the Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact2" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Blackfyre</h2>
                <p>If you have problems with the <b>SASS version</b> of the original template, please report it at the</p>
                <p><a href="https://github.com/blackfyre/grayscale-sass/issues">GITHUB Issues page</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/gnick666" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/blackfyre" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>



    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p><small>&copy; Tiphereth Trading {% now "Y" %}</small></p>
        </div>
    </footer>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'javascripts/main.min.js' %}"></script>

</body>

</html>