{% extends 'base/base.html' %}

    {% block title %}<title>Tiphereth Trading | Buy Local, Sustainable Preserves, Compost and Firewood</title>{% endblock %}
{% block content %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Tiphereth</h1>
                        <h1><smaller>Social Enterprise</smaller></h1>
                        <p class="intro-text">Buy Local, Organic &amp; Sustainable Preserves, Compost &amp; Firewood produced by people with additional support needs in Edinburgh</p>
                        <a href="#about" class="btn btn-circle page-scroll pulse">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What we do</h2>
            </div>
        </div>    
        <div class="row">
            <div class="about col-xs-4" id="preserves">
                    <div class="info">
                        <h4>Preserves</h4>
                    </div>    
            </div>  
            <div class="col-xs-4 about" id="logs">
                <div class="info">
                    <h4>Logs</h4>
                </div>    
            </div>
            <div class="col-xs-4 about" id="compost">
                <div class="info">
                    <h4>Compost</h4>
                </div>    
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!--h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul-->
            </div>
        </div>
    </section>

    <!-- Download SASS Section -->
    <section id="download2" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download the SASS version of Grayscale for free on the GITHUB page.</p>
                    <a href="https://github.com/blackfyre/grayscale-sass/" class="btn btn-default btn-lg">Visit the Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact2" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Blackfyre</h2>
                <p>If you have problems with the <b>SASS version</b> of the original template, please report it at the</p>
                <p><a href="https://github.com/blackfyre/grayscale-sass/issues">GITHUB Issues page</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/gnick666" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/blackfyre" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}